.contenedor{
    width: 80vw;
    height: 80vh;
}
.img-login{
    width: 100%;
    height: 100%;
}
.row{
    height: 100%;
}

.mx-auto{
    width: 70%;
}
.container-login{
    height: 100%;
    width: 100%;
}