*{
    text-decoration: none;
    color: black;

}

.logo-header {
    width: 5%;
}

.imagen-carousel{
    height: 70vh;
}

.contenedor-productos{
    padding: 4rem;
}

.producto {
    width: 15rem;
    height: 15rem;
    border-radius: .5rem;
}

.precio{
    padding-top: 10px;
    margin-left: 20px;
    border-top: 1px lightgray solid;
}

.modal-bodyContacto p{
    margin-left: 30px;
}

.cuadro {
    text-decoration: none;
}